.container{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: 100px 300px;
    
}

.first{
    list-style: none;
    background-color: red;
}

.second{
    list-style: none;

}

.third{
    list-style: none;
}