*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background: linear-gradient(to right,   rgb(98, 0, 255), rgba(0, 4, 255, 0.667), rgba(246, 6, 6, 0.829),  rgb(168, 3, 186));
}

.calculator{
    display: grid;
    justify-content: center;
    margin-top: 10rem;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 7rem);
}

.calculator>button{
    cursor: pointer; 
    font-size: 3rem;
    border: 1px solid rgba(46, 23, 6, 0.781);
    outline:none;
    background-color: rgba(245, 243, 254, 0.557);
}

.calculator > button:hover,
.calculator > button:focus {
    background-color: rgba(9, 223, 173, 0.891);


}


.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(26, 25, 25, 0.789);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(243, 243, 214);
    font-size: 2rem;

}

.output .current-operand{
    color: white;
    font-size: 4rem;
}